
<%= simple_form_for article do |f| %>
  <div class="mb-3">
    <%= f.input :title, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
    <% article.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= f.input :body, as: :text, label_html: { class: 'form-label' }, input_html: { class: 'form-control' } %>
    <% article.errors.full_messages_for(:body).each do |message| %>
        <div><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3 row col-md-3">
    <%= f.input :status, as: :select, selected: 'public', collection: ['public', 'private', 'archived'], label_html: { class: 'form-label' }, input_html: { class: ' form-select' } %>
  </div>

  <%= f.button :submit, class: 'btn btn-success btn-sm' %>

<% end %>


<%
=begin%>
 
<%= form_with model: article do |form| %>
  <div class="mb-3">
    <%= form.label :title, class: "form-label" %><br>
    <%= form.text_field :title, class: "form-control" %>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body, class: "form-label" %><br>
    <%= form.text_area :body, class: "form-control" %><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="mb-4">
    <%= form.label :status, class: "form-label" %><br>
    <%= form.select :status, ['public', 'private', 'archived'], selected: 'public', class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Update Article", class: "btn btn-success btn-sm" %>
  </div>
<% end %> 
<%
=end%>
